//- icon - icon class
//- offsetTop - margin-top in heading
//- title - box title
//- desc - description of box
mixin box-icon-type-2(icon, title, clTitle, desc)
  // Icon Box Type 2
  .unit.unit-sm.flex-md-row.text-md-left
    .unit-left
      span.icon.novi-icon(class= icon)
    .unit-body
      h4.font-weight-bold(class= clTitle)= title
      p= desc
