
//- accordionId - id of accordion
//- tabObject - object of accordions
mixin accordion-classic( accordionId, tabObject )
  // Bootstrap Accordion
  .offset-top-0( role='tablist', aria-multiselectable='true' id= accordionId )
    - for ( var i = 0; i < tabObject.length; i++ )
      -
        if ( !tabObject[i].contentId ) tabObject[i].contentId = accordionId +'--card-'+ i;
        var headerId = tabObject[i].contentId +'-header';
        var contentId = tabObject[i].contentId +'-content';
      .card.card-classic
        a.card-header( href='#', data-toggle= 'collapse', data-target='#' + contentId, id= headerId, aria-expanded= Boolean(tabObject[i].show).toString(), aria-controls= contentId, class={ collapsed: !tabObject[i].show } )
          != tabObject[i].title
        .collapse( id= contentId, aria-labelledby= headerId, data-parent='#' + accordionId, class={ show: tabObject[i].show } )
          .card-body!= tabObject[i].description
