//- RD Navbar Simple submenu

mixin rd-navbar-simple-submenu(link)
  if (typeof(link.submenu) !== 'undefined')
    ul.rd-navbar-dropdown
      each sublink in link.submenu
        li
          a(href=sublink.href)
            span.text-middle= sublink.title
            if (typeof(sublink.label) === 'string')
              span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label= sublink.label
            else if (typeof(sublink.label) === 'object')
              span.rd-navbar-label.label-custom.label-xs-custom.label-rounded-custom.label( class= sublink.label.class )= sublink.label.text

          +rd-navbar-simple-submenu(sublink)
