// Section Shop Sidebar
aside.text-left
  .row
    .col-sm-6.col-lg-12
      // Categories
      h6.text-uppercase.text-spacing-60 Categories
      div.text-subline
      .custom-control.custom-checkbox.offset-top-20
        input#customCheck1.custom-control-input( name="input-group-category", value="woman", type="checkbox" )
        label.custom-control-label( for='customCheck1' ) Women's Shirts #[span.text-dark (37)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck2.custom-control-input( name="input-group-category", value="dresses", type="checkbox" )
        label.custom-control-label( for='customCheck2' ) Dresses #[span.text-dark (211)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck3.custom-control-input( name="input-group-category", value="skirts", type="checkbox" )
        label.custom-control-label( for='customCheck3' ) Skirts #[span.text-dark (12)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck4.custom-control-input( name="input-group-category", value="coats", type="checkbox" )
        label.custom-control-label( for='customCheck4' ) Coats #[span.text-dark (7)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck5.custom-control-input( name="input-group-category", value="top", type="checkbox" )
        label.custom-control-label( for='customCheck5' ) Tops #[span.text-dark (15)]

    .col-sm-6.col-lg-12
      // Brands
      h6.offset-top-41.offset-sm-top-0.offset-lg-top-41.text-uppercase.text-spacing-60 Brands
      div.text-subline
      .custom-control.custom-checkbox.offset-top-20
        input#customCheck6.custom-control-input( name="input-group-brands", value="apc", type="checkbox" )
        label.custom-control-label( for='customCheck6' ) A.P.C. #[span.text-dark (37)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck7.custom-control-input( name="input-group-brands", value="armani", type="checkbox" )
        label.custom-control-label( for='customCheck7' ) Armani #[span.text-dark (211)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck8.custom-control-input( name="input-group-brands", value="loro", type="checkbox" )
        label.custom-control-label( for='customCheck8' ) Loro #[span.text-dark (12)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck9.custom-control-input( name="input-group-brands", value="coat", type="checkbox" )
        label.custom-control-label( for='customCheck9' ) Coat #[span.text-dark (7)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck10.custom-control-input( name="input-group-brands", value="topiro", type="checkbox" )
        label.custom-control-label( for='customCheck10' ) Topiro #[span.text-dark (15)]

    .col-sm-6.col-lg-12
      // Colors
      h6.offset-top-41.text-uppercase.text-spacing-60 Colors
      div.text-subline
      .custom-control.custom-checkbox.offset-top-20
        input#customCheck11.custom-control-input( name="input-group-colors", value="blue", type="checkbox" )
        label.custom-control-label( for='customCheck11' ) Blue
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck12.custom-control-input( name="input-group-colors", value="green", type="checkbox" )
        label.custom-control-label( for='customCheck12' ) Green
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck13.custom-control-input( name="input-group-colors", value="gray", type="checkbox" )
        label.custom-control-label( for='customCheck13' ) Gray
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck14.custom-control-input( name="input-group-colors", value="white", type="checkbox" )
        label.custom-control-label( for='customCheck14' ) White
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck15.custom-control-input( name="input-group-colors", value="cyan", type="checkbox" )
        label.custom-control-label( for='customCheck15' ) Cyan

    .col-sm-6.col-lg-12
      // Sizes
      h6.offset-top-41.text-uppercase.text-spacing-60 Sizes
      div.text-subline
      .custom-control.custom-checkbox.offset-top-20
        input#customCheck16.custom-control-input( name="input-group-sizes", value="size-xs", type="checkbox" )
        label.custom-control-label( for='customCheck16' ) Extra Small #[span.text-dark (XS)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck17.custom-control-input( name="input-group-sizes", value="size-s", type="checkbox" )
        label.custom-control-label( for='customCheck17' ) Small #[span.text-dark (S)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck18.custom-control-input( name="input-group-sizes", value="size-m", type="checkbox" )
        label.custom-control-label( for='customCheck18' ) Medium #[span.text-dark (M)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck19.custom-control-input( name="input-group-sizes", value="size-l", type="checkbox" )
        label.custom-control-label( for='customCheck19' ) Large #[span.text-dark (L)]
      .custom-control.custom-checkbox.offset-top-4
        input#customCheck20.custom-control-input( name="input-group-sizes", value="size-xl", type="checkbox" )
        label.custom-control-label( for='customCheck20' ) Extra Large #[span.text-dark (XL)]
