// Blog Templates
section.section.novi-background.section-top-66.section-bottom-85.section-lg-top-110.section-lg-bottom-50.context-dark.bg-mantis
  .container
    .row.justify-content-sm-center
      .col-md-10.col-xl-8
        img.img-fluid.d-none.d-md-inline-block.wow.fadeInLeft(src="images/features/home-intro-11-745x325.png" width="745" height="325" alt="" data-wow-delay="0.6s")
      .col-md-8.col-xl-4.offset-top-0.offset-md-top-41.offset-xl-top-0.text-xl-left
        .inset-xl-left-20
          h1 Blog Templates
          p Create any kind of blog variations & styles using our well-done Blog templates
