// Portfolio Templates
section.section.novi-background.section-top-66.section-xl-top-98
  .container-fluid
    .row.justify-content-sm-center.justify-content-xxl-end.grid-group-md
      .col-md-8.col-xl-4.col-xxl-3
        .offset-xl-top-20.text-xl-left
          h1 Portfolio #[br.d-none.d-xl-block]Templates
          p Showcase any of your products or projects with #[br.d-none.d-xl-block]our great selection of Portfolio templates.

      .col-md-10.col-xl-8.col-xxl-7
        .mock-up-1: .scene
          .object.object-1
            img.shadow-drop-lg.wow.fadeInUp( src="images/landing/landing-106-446x295.jpg", width="446", height="295", alt, data-wow-delay='0.9s' )
          .object.object-2
            img.shadow-drop-lg.wow.fadeInUp( src="images/landing/landing-107-412x456.jpg", width="412", height="456", alt, data-wow-delay='0.6s' )
          .object.object-3
            img.shadow-drop-lg.wow.fadeInUp( src="images/landing/landing-108-572x416.jpg", width="572", height="416", alt, data-wow-delay='0.3s' )
          .object.object-4
            img.shadow-drop-lg.wow.fadeInUp( src="images/landing/landing-109-434x444.jpg", width="434", height="444", alt )
