// About Us
section.section.novi-background.section-98.section-sm-110
  .container
    .row.justify-content-sm-center
      .col-sm-10.col-xl-6.text-lg-left.inset-lg-right-80
        h1 About Us
        hr.divider.hr-lg-left-0.bg-mantis
        .offset-top-30.offset-lg-top-50
          p Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.
          p Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.
      .col-sm-10.col-xl-6.offset-top-50.offset-xl-top-0
        img.img-fluid.d-inline-block.offset-top-10(src="images/pages/careers-01-960x540.jpg" width=960 height=540 alt="")
