//- Includes
include ../elements/_ui-material-parallax

+material-parallax({
  img:   "images/backgrounds/background-12-1920x1050.jpg",
  Class: "context-dark"
})
  .bg-overlay-gray-darkest
    section.context-dark
      .container
        .row.align-items-sm-center.justify-content-sm-center.section-cover.section-110
          .col-sm-12
            h1.text-uppercase
              span.big Flickr Social Widget
            .offset-top-20
              h4.text-light Showcase the latest images from your Flickr account in real time with the help of this plugin. Embedded into your website this plugin will display photos, photosets, tags, and other info in a harmonious way.
            .row.justify-content-sm-center.offset-top-66
              .col-sm-5.col-md-4.col-lg-3.text-md-right.inset-md-left-50
                a(href=cfg.buyLink target='_blank').btn.btn-block.btn-primary buy intense now
              .col-sm-5.col-md-4.col-lg-3.text-md-left.inset-md-right-50
                a(href="#" data-custom-scroll-to="flickr-feed-demo").btn.btn-block.btn-default view widget
