section.section.novi-background.section-66.section-xl-110.bg-lighter
  .container-fluid
    h2
      span.big Best-Selling & Most Trusted
      span.big.text-mantis= ' HTML5'
      span.big= ' Template'
    p.text-dark Experience the Ever-Growing Feature Rich Template since 2019
