//- Includes
include ../elements/_ui-material-parallax

// Demo Images Included for Free
+material-parallax({
  img: "images/features/home-intro-15-1920x592.jpg",
  Class: 'bg-overlay-gray-darkest section-98 section-lg-110 section-xl-254'
}).context-dark
  .container
    h1 Demo Images Included for Free
    p Save more than $35 on awesome premium images included in demo
