section.section.novi-background.section-98.section-md-110
  .container
    .row.justify-content-sm-center.justify-content-sm-center
      .col-md-8.col-lg-7.col-xl-6
        h2.text-uppercase.font-weight-bold Campaign Monitor
        hr.divider.bg-mantis
        p Sign up to our newsletter and be the first to know about latest news, special offers, events, and discounts.

        // Campaign Monitor subscribe
        form.rd-mailform.campaign-mailform( data-form-output="form-output-global", data-form-type='subscribe', method='post', action='https://templatermonster.createsend.com/t/j/s/zjjikd/' )
          .form-group
            .input-group.input-group-sm
              span.input-group-prepend
                span.input-group-text.input-group-icon
                  span.novi-icon.mdi.mdi-email
              input.form-control( placeholder="E-Mail", type="email", name="cm-zjjikd-zjjikd" data-constraints="@Email @Required" )
              span.input-group-append
                button.btn.btn-sm.btn-primary( type="submit" ) Subscribe
