section.section.novi-background.section-66.section-xl-110.bg-lighter
  .container-fluid
    h2
      span.big Loved by
      span.big.text-mantis= ' 2800+'
      span.big= ' Happy Customers'
    p.text-dark
      = 'Powered by Top-Notch Support & Stellar '
      a.text-primary( href="#" )
        = 'Customer Reviews'
        span.novi-icon.mdi.mdi-chevron-right.text-middle
