// Dedicated 24/7 Support
section.section.novi-background.bg-default.section-top-66.section-md-top-0
  .container-fluid.text-lg-left
    .row.justify-content-sm-center.align-items-sm-end.align-items-xl-start

      .col-lg-6.col-xxl-4
        .section-md-66.section-lg-top-124
          span.novi-icon.icon.icon-lg.linearicons-headset.text-mantis
          .offset-top-10.offset-lg-top-20
            h1 Dedicated 24/7 Support
          .offset-top-10.offset-lg-top-20
            p Our Support Service is always available 24 hours a day, 7 days a week to help you create your own business solution.

      .col-md-6.col-xxl-4
        img.img-fluid( src='images/landing/landing-115-569x465.jpg', alt )
