// See it in action
section.section.novi-background.section-98.section-sm-110#rdnavbar
  .container-fluid
    h1 See It In Action
    hr.divider.bg-mantis
    .row.justify-content-sm-center.offset-top-66
      .col-sm-10.col-xl-12.col-xxl-10
        h4 Navbar Default
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-default-demonstration.html" height="220")

      .col-sm-10.col-xl-12.col-xxl-10.offset-top-50.offset-lg-top-66
        h4 Navbar Default Dark Variation
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-default-dark-demonstration.html" height="220")

      .col-sm-10.col-xl-12.col-xxl-10.offset-top-50.offset-lg-top-66
        h4 Navbar Top Panel
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-with-top-panel-demonstration.html" height="270")

      .col-sm-10.col-xl-12.col-xxl-10.offset-top-50.offset-lg-top-66
        h4 Navbar Top Panel Dark Variation
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-with-top-panel-dark-demonstration.html" height="270")

      .col-sm-10.col-xl-12.col-xxl-10.offset-top-50.offset-lg-top-66
        h4 Navbar Logo Center
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-logo-center-demonstration.html" height="270")

      .col-sm-10.col-xl-12.col-xxl-10.offset-top-50.offset-lg-top-66
        h4 Navbar Logo Center Dark Variation
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-logo-center-dark-demonstration.html" height="270")

      .col-sm-10.col-xl-12.col-xxl-10.offset-top-50.offset-lg-top-66
        h4 Navbar Sidebar Fixed
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-sidebar-fixed-demonstration.html" height="550")

      .col-sm-10.col-xl-12.col-xxl-10.offset-top-50.offset-lg-top-66
        h4 Navbar Sidebar Fixed Dark Variation
        .offset-top-34
          .rd-navbar-iframe-demonstration
           iframe(src="rd-navbar-sidebar-fixed-dark-demonstration.html" height="550")
