//- Includes
include ../elements/_ui-box-icon-type-4

// What Do You Get With Intense?
section.section.novi-background.section-98.section-sm-110
  .container
    h2
      span.big  What Do You Get With Intense?
    hr.divider.bg-mantis
    .row.justify-content-sm-center.offset-top-50.offset-top-66
      .col-md-7.col-lg-4
        .inset-sm-left-50.inset-sm-right-50.inset-lg-left-0.inset-lg-right-0
          +box-icon-type-4("icon-red-filled icon-outlined mdi mdi-vector-square")
            h4.offset-top-30.font-weight-bold Advanced UI Kit for Web Developers

      .col-md-7.col-lg-4.offset-top-66.offset-lg-top-0
        .inset-sm-left-50.inset-sm-right-50.inset-lg-left-0.inset-lg-right-0.inset-xl-left-50.inset-xl-right-50
          +box-icon-type-4("icon-blue-gray-filled icon-outlined mdi mdi-bulletin-board")
            h4.offset-top-30.font-weight-bold Extended Bootstrap Toolkit

      .col-md-7.col-lg-4.offset-top-66.offset-lg-top-0
        .inset-sm-left-50.inset-sm-right-50.inset-lg-left-0.inset-lg-right-0
          +box-icon-type-4("icon-mantis-filled icon-outlined mdi mdi-refresh")
            h4.offset-top-30.font-weight-bold Lifetime Free Updates
