// eCommerce Ready
section.section.novi-background.section-top-66.section-xl-top-110
  .container-fluid
    .row.justify-content-sm-center.align-items-xl-end.justify-content-xxl-end.grid-group-md
      .col-md-8.col-xl-4.col-xxl-3.text-xl-left
        .section-lg-bottom-66
          h1 eCommerce Ready
          p We have included all you may need to build an #[br.d-none.d-xl-block]Amazing eCommerce Website from a scratch. Create your successful business now!
          ul.list.list-marked.inset-left-30
            li Grid View
            li Shopping Cart Page
            li Checkout Page
            li Single Product Page

      .col-md-10.col-xl-8.col-xxl-7
        .mock-up-3
          .object.object-1
            img.shadow-drop-lg.wow.fadeInUp( src="images/landing/landing-111-492x358.png", width="492", height="358", alt )
          .object.object-2
            img.shadow-drop-lg.wow.fadeInUp( src="images/landing/landing-112-492x358.png", width="492", height="358", alt, data-wow-delay='0.4s' )
          .object.object-3
            img.shadow-drop-lg.wow.fadeInUp( src="images/landing/landing-113-492x437.png", width="492", height="437", alt, data-wow-delay='0.8s' )
