// RD Parallax
.bg-black.context-dark

  // RD Parallax
  .rd-parallax( data-on="false" data-md-on="true" )
    .section-cover
      .rd-parallax-layer( data-speed="0.2", data-type="media", data-url="images/backgrounds/background-38-1920x1224.jpg" )
  
      .rd-parallax-layer( data-speed="0.5", data-type='html' )
        .container
          .row.justify-content-center.align-items-center.section-cover
            .col-sm-10
              h1.text-uppercase
                span.big RD Parallax
              .offset-top-20.offset-lg-top-66.invisible
                h4.text-light Create an awesome and clean parallax scrolling effects with our premium RD Parallax plugin.
              .offset-top-20.offset-lg-top-66.invisible
                a( href=cfg.buyLink target='_blank' ).btn.btn-primary buy intense now
  
      .rd-parallax-layer.d-none.d-lg-inline-block( data-speed="0.2", data-type="media", data-url="images/backgrounds/background-37-1920x1224.png" )
  
      .rd-parallax-layer.layer-custom( data-speed="0.4", data-type='custom' )
        .container
          .row.justify-content-center.align-items-center.section-cover
            .col-sm-10
              h1.text-uppercase.invisible.non-interacting
                span.big RD Parallax
              .offset-top-20.offset-lg-top-66.non-interacting
                h4.text-light Create an awesome and clean parallax scrolling effects with our premium RD Parallax plugin.
              .offset-top-20.offset-lg-top-66
                a( href=cfg.buyLink target='_blank' ).btn.btn-primary buy intense now
