// Blog Templates
section.section.novi-background.section-66.section-lg-bottom-0.section-xl-top-110.context-dark.bg-mantis
  .container-fluid
    .row.justify-content-sm-center.justify-content-xl-start
      .col-md-10.col-xl-8.col-xxl-7
        .mock-up-2: .scene: .object
          img.wow.fadeInUp( src='images/landing/landing-110-1056x457.png', width='1056', height='457', alt )

      .col-md-8.col-xl-4.col-xxl-3.text-xl-left
        .inset-xxl-left-50
          h1 Blog Templates
          p Create any kind of blog variations & styles using our well-done Blog templates
