// Home Intro footer
footer.section.novi-background.section-34.page-footer.bg-black.context-dark
  .container
    .footer-brand
      a(href=cfg.nav.home.href)
        !=cfg.brand.logoInverse
    p.small.text-darker
      | &copy; #[span.copyright-year] . #[a(href="privacy.html") Privacy Policy]
