// Extremely Responsive and Retina
section.section.novi-background.section-top-66.section-bottom-85.section-sm-top-110.section-lg-bottom-66.bg-blue-gray.context-dark
  .container
    .row.justify-content-sm-center.grid-group-md
      .col-md-8.col-xl-5.text-xl-left
        h1 Extremely Responsive and Retina
        p Create Your Own Business, Blog or any kind of activity Quick and Easy with our unbelievable already made niche templates.
      .col-md-10.col-xl-7
        img.img-fluid.d-none.d-md-inline-block.wow.fadeInRight(src="images/features/home-intro-02-730x380.png" width="730" height="380" alt="" data-wow-delay="0.6s")
