// Revolution
section.section.novi-background.section-66.section-xl-110
  .container-fluid
    h1 15+ #[span.text-red= " Revolution "] Slider effects

    div
      img.img-fluid.d-block.mx-auto.wow.fadeInUp( src="images/logos/slider.jpg", alt )
