// Third-Party Scripts Support
section.section.novi-background.section-98.section-sm-110.bg-blue-gray.context-dark
  .container
    h1 Third-Party Scripts Support
    hr.divider.bg-default
    .row.justify-content-sm-center.offset-top-50
      .col-sm-10.col-lg-6
        p You can endlessly complement the functionality of RD Flickr Feed with the help of third-party plugins.
        a(href=cfg.buyLink target='_blank').btn.btn-lg.btn-default.btn-anis-effect.btn-icon.btn-icon-left.offset-top-10
          span.novi-icon.icon.mdi.mdi-cart-outline
          | Buy intense now
