// Event Managing 
section.section.novi-background.section-66.section-lg-bottom-0.section-xl-top-85.bg-blue-gray.context-dark
  .container-fluid
    .row.justify-content-sm-center.grid-group-md
      .col-md-6.col-xl-7.col-xxl-5
        .mock-up-4: .object
          img.wow.fadeInUp( src='images/landing/landing-114-676x485.png', width='676', height='485', alt )

      .col-md-8.col-xl-5.col-xxl-3.text-xl-left
        .inset-xxl-left-50.offset-xl-top-34
          h1 Event Managing
          p Share your public events quick and easy with your customers. Use our extremely customizable event calendar to create your own comps.
