include ../elements/_ui-bg-vide
//Swiper
.swiper-container.swiper-slider(data-loop="true" data-autoplay="true" data-height="100vh" data-dragable="false" data-min-height="480px" data-slide-effect="fade")
  .swiper-wrapper.text-center
    .swiper-slide( data-slide-bg="images/landing/landing-01-1920x955.jpg" )
      .swiper-caption.swiper-parallax
        .swiper-slide-caption
          .container
            .row.justify-content-xl-center
              .col-xl-12
                h1(data-caption-animate="fadeInUp" data-caption-delay="0") Intense is the most powerful Bootstrap theme on TemplateMonster

                .group.group-xl.offset-top-20.offset-sm-top-50
                  a.btn.btn-primary.btn-anis-effect(href=cfg.builderLink, target='_blank', data-caption-animate="fadeInUp", data-caption-delay="600")
                    span.btn-text Try Builder

                  a.btn.btn-default.btn-anis-effect(href="#" data-custom-scroll-to="section-skills" data-caption-animate="fadeInUp" data-caption-delay="600")
                    span.btn-text Start a journey

    .swiper-slide( data-slide-bg="images/landing/landing-02-1920x955.jpg" )
      .swiper-caption.swiper-parallax
        .swiper-slide-caption
          .container
            .row.justify-content-xl-center
              .col-xl-12
                h1(data-caption-animate="fadeInUp" data-caption-delay="0") Intense is the most powerful Bootstrap theme on TemplateMonster
        
                .group.group-xl.offset-top-20.offset-sm-top-50
                  a.btn.btn-primary.btn-anis-effect(href=cfg.builderLink, target='_blank', data-caption-animate="fadeInUp", data-caption-delay="600")
                    span.btn-text Try Builder
        
                  a.btn.btn-default.btn-anis-effect(href="#" data-custom-scroll-to="section-skills" data-caption-animate="fadeInUp" data-caption-delay="600")
                    span.btn-text Start a journey

    .swiper-slide( data-slide-bg="images/intros/intro-06-1920x955.jpg" )
      .swiper-caption.swiper-parallax
        .swiper-slide-caption
          .container
            .row.justify-content-xl-center
              .col-xl-12
                h1(data-caption-animate="fadeInUp" data-caption-delay="0") Intense is the most powerful Bootstrap theme on TemplateMonster
        
                .group.group-xl.offset-top-20.offset-sm-top-50
                  a.btn.btn-primary.btn-anis-effect(href=cfg.builderLink, target='_blank', data-caption-animate="fadeInUp", data-caption-delay="600")
                    span.btn-text Try Builder
        
                  a.btn.btn-default.btn-anis-effect(href="#" data-custom-scroll-to="section-skills" data-caption-animate="fadeInUp" data-caption-delay="600")
                    span.btn-text Start a journey
