//- Includes
include ../elements/_ui-material-parallax

// Join Our Team
+material-parallax({
  img: "images/backgrounds/background-04-1920x657.jpg",
  Class: 'section-66 context-dark bg-overlay-gray-darkest context-dark'
})
  .container
    h1 Join Our Team
    hr.divider.bg-default
    .row.justify-content-sm-center
      .col-sm-10.col-sm-8
        div
          p Take a job opportunity of a lifetime – join the team of Intense. We cherish active tech savvies willing to work on projects of any type and complexity. If you are enthusiastic about tech innovations and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.
        .offset-top-30
          a(href=cfg.nav.pages.submenu.contactUs.href).btn.btn-icon.btn-icon-left.btn-default
            span.novi-icon.icon.mdi-email-outline.mdi
            span Send us a letter
