// Welcome
.bg-black.context-dark.parallax-container( data-parallax-img= "images/intros/intro-02-1920x955.jpg" )
  .parallax-content
    .container
      .section-110.section-cover.row.justify-content-sm-center.align-items-sm-center
        .offset-lg-5.col-lg-7.offset-xxl-6.col-xl-6.test
          h1.text-uppercase.text-ubold.text-spacing-60
            span.big join intense

          h4.d-none.d-xxl-block.offset-md-top-20.text-light The smartest and most flexible bootstrap template by TemplateMonster you’ve ever seen.

          .row.justify-content-md-center.offset-top-34.offset-xxl-top-50
            .col-md-6.col-lg-8.test
              // RD Mailform
              form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .form-group.text-left
                  label.form-label.form-label-outside(for="form-reg-name") Name
                  input#form-reg-name.form-control(type="text" data-constraints="@Required" name="name")

                .form-group.offset-top-20.offset-xl-top-10.offset-xxl-top-20.text-left
                  label.form-label.form-label-outside(for="form-reg-username") Phone
                  input#form-reg-username.form-control(type="text" data-constraints="@Required" name="username")

                .form-group.offset-top-20.offset-xl-top-10.offset-xxl-top-20.text-left
                  label.form-label.form-label-outside(for="form-reg-email") E-mail
                  input#form-reg-email.form-control(type="email" data-constraints="@Required @Email" name="email")

                .group.offset-top-30.text-lg-left
                  .group-item
                    button(type="submit", style="padding-left: 50px; padding-right: 50px;").btn.btn-primary join us
