// section compatible flickr scripts
section.section.novi-background.section-66.section-lg-98.bg-lighter
  .container
    .row.align-items-md-center
      .col-xl-6.d-none.d-xl-block
        img.img-fluid( src="images/features/rd-flickr-02.png" width="570" height="509" alt="" )

      .col-xl-6
        .row.justify-content-sm-center
          .col-sm-10.col-md-6
            .unit.flex-column
              .unit-left
                img.img-fluid(src="images/logos/logo-require-js.png" width="92" height="100" alt="" )
              .unit-body
                h4.text-uppercase.font-weight-bold Require.js
                p RD Flickr Feed is integrated with Require.js. With it the plugin loads much faster, contributing to the user experience provided by your website.
          .col-sm-10.col-md-6.offset-top-66.offset-md-top-0
            .unit.flex-column
              .unit-left
                img.img-fluid(src="images/logos/logo-jquery.png" width="103" height="100" alt="")
              .unit-body
                h4.text-uppercase.font-weight-bold jQuery 1.11+
                p This plugin requires jQuery 1.11+ to be installed on your website to have it running properly.
