// Get in Touch
section.section.novi-background.section-98.section-sm-110
  .container
    h1 Get in Touch
    hr.divider.bg-mantis
    .row.justify-content-md-center.offset-top-66
      .col-md-6
        img.rounded-circle(src='images/users/user-eugene-newman-140x140.jpg', width='140', height='140' alt='')
        p.offs.offset-top-30 Don’t hesitate to reach me out day and night. I answer all the emails within the time limit not longer than two working days. If your business is very urgent, feel free to contact me by Skype.
        h4.font-weight-bold.text-picton-blue
          span.p
            a(href="mailto:#") mail@demolink.org
