include ../elements/_ui-blurb-mini

// Core features
section.section.novi-background.section-66.section-xl-110
  .container-fluid
    div: h2: span.big  Core Features

    div.offset-top-24.d-none.d-lg-block
      hr.divider.bg-mantis

    .offset-top-30.offset-xxl-top-66
      .row.justify-content-sm-center.grid-group-md
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-46-40x40.png',
            caption: 'Revolution Slider (15 variants)'
          }).wow.fadeInLeft( data-wow-delay='0.6s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-48-40x40.png',
            caption: 'Swiper Slider'
          }).wow.fadeInLeft( data-wow-delay='0.4s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-47-38x47.png',
            caption: 'Owl Carousel'
          }).wow.fadeInLeft( data-wow-delay='0.2s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-50-48x36.png',
            caption: 'Parallax'
          }).wow.fadeInLeft
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-49-41x41.png',
            caption: 'Video Background'
          }).wow.fadeInRight
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-52-32x26.png',
            caption: 'RD Twitter Feed'
          }).wow.fadeInRight( data-wow-delay='0.2s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-51-15x30.png',
            caption: 'RD Facebook Feed'
          }).wow.fadeInRight( data-wow-delay='0.4s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-53-43x21.png',
            caption: 'RD Flickr Gallery'
          }).wow.fadeInRight( data-wow-delay='0.6s' )

        .col-xxl-12.wrapper

        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-57-34x34.png',
            caption: 'RD Event Calendar'
          }).wow.fadeInLeft( data-wow-delay='0.6s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-58-34x32.png',
            caption: 'Mail Form'
          }).wow.fadeInLeft( data-wow-delay='0.4s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-56-38x38.png',
            caption: 'ReCaptcha'
          }).wow.fadeInLeft( data-wow-delay='0.2s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-54-37x40.png',
            caption: 'Mailchimp'
          }).wow.fadeInLeft
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-61-35x23.png',
            caption: 'Campaign Monitor'
          }).wow.fadeInRight
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-59-35x35.png',
            caption: '4 Footer layouts'
          }).wow.fadeInRight( data-wow-delay='0.2s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-60-35x32.png',
            caption: 'Charts and Graphs'
          }).wow.fadeInRight( data-wow-delay='0.4s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-55-40x40.png',
            caption: 'Bootstrap'
          }).wow.fadeInRight( data-wow-delay='0.6s' )

        .col-xxl-12.wrapper

        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-67-37x24.png',
            caption: '26 Child Themes'
          }).wow.fadeInLeft( data-wow-delay='0.6s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-68-30x30.png',
            caption: 'Search Form'
          }).wow.fadeInLeft( data-wow-delay='0.4s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-63-34x34.png',
            caption: 'Gallery (Isotope) (Hover Effects)'
          }).wow.fadeInLeft( data-wow-delay='0.2s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-65-34x34.png',
            caption: 'Shop'
          }).wow.fadeInLeft
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-62-38x38.png',
            caption: 'Google Fonts'
          }).wow.fadeInRight
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-66-32x32.png',
            caption: 'Icon Fonts (FontAwesome, Material Design Icons)'
          }).wow.fadeInRight( data-wow-delay='0.2s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-69-47x18.png',
            caption: 'Animate CSS, WOW Animation'
          }).wow.fadeInRight( data-wow-delay='0.4s' )
        .col-sm-6.col-md-3.col-lg-2.col-xxl-1
          +blurb-mini({
            src: 'images/landing/landing-64-34x34.png',
            caption: 'UI Kit'
          }).wow.fadeInRight( data-wow-delay='0.6s' )
