section.section.novi-background.section-110
  .container
    .row.justify-content-sm-center
      .col-xl-8.col-lg-10
        h2 The
          span.text-ku-crimson=' #1 Slider Plugin '
          | for jQuery!

        img(src="images/logos/slider.jpg", alt="").img-fluid
