// 200+ PSD Included
section.section.novi-background.section-98.section-sm-41.bg-lighter
  .container
    .row.justify-content-sm-center.text-md-left
      .col-md-10.col-lg-8.col-xl-6
        .inset-md-left-30.inset-xl-left-0
          // Unit SM
          .unit.unit-sm.flex-md-row
            .unit-left
              img.img-fluid.d-block.mx-auto(src="images/features/home-intro-03-99x100.png" width="99" height="100" alt="")
            .unit-body
              .offset-xl-top-10
                h1 200+ PSD Included
              p.offset-top-10 Get all template design sources used in project just for free
