//- Includes
include  ../elements/_ui-box-icon-type-2

// Mailform Features
section.section.novi-background.section-98.section-sm-110.shadow-drop-lg(style="position: relative;")
  .container
    .row.justify-content-sm-center.align-items-sm-center.justify-content-xxl-between
      .col-md-9.col-xl-6.col-xxl-7
        img.img-fluid.d-none.d-md-inline-block.shadow-drop-lg(src="images/features/rd-mailform-03-670x467.png" width="670" height="467" alt="")
      .col-md-9.col-xl-6.col-xxl-4.offset-md-top-66.offset-xl-top-0
        .inset-xl-left-50.inset-xxl-left-0
          +box-icon-type-2("icon-lg icon-circle mdi mdi-cellphone-link material-icons-tag_faces text-picton-blue offset-md-top-14", "Fully Responsive", "text-uppercase offset-md-top-24", "Make use of responsive forms using this plugin. Whether visitors access your site via a desktop or smartphone, they can use your forms on all the devices.")
          .offset-top-50
            +box-icon-type-2("icon-lg icon-circle mdi mdi-grid text-picton-blue offset-md-top-14", "Modular Structure", "text-uppercase offset-md-top-24", "RD Mailform and its built-in plugins can be used independently of Intense. The modular structure of this script allows you to integrate it into any other HTML templates.")
