//- Includes
include ../elements/_ui-counter-type-2

// Skills
section#section-skills.section.novi-background.section-66.section-lg-98
  .container-fluid
    .row.justify-content-sm-center.grid-group-md
      .col-sm-6.col-md-5.col-lg-3
        +counter-type-2({
          description: 'html Templates',
          titleStyle: 'h6 text-uppercase text-spacing-60 font-weight-bold'
        },
        'linearicons-file-code text-mantis',{
          dataTo: '500',
          dataSpeed: '1200',
          preffix: '+'
        })
      .col-sm-6.col-md-5.col-lg-3
        +counter-type-2({
          description: 'niche templates',
          titleStyle: 'h6 text-uppercase text-spacing-60 font-weight-bold'
        },
        'linearicons-star text-malibu',{
          dataTo: '25',
          dataSpeed: '1600',
          preffix: '+'
        })
      .col-sm-6.col-md-5.col-lg-3
        +counter-type-2({
          description: 'different skins',
          titleStyle: 'h6 text-uppercase text-spacing-60 font-weight-bold'
        },
        'linearicons-palette text-carrot',{
          dataTo: '10',
          dataSpeed: '2000'
        })
      .col-sm-6.col-md-5.col-lg-3
        +counter-type-2({
          description: 'psd files',
          titleStyle: 'h6 text-uppercase text-spacing-60 font-weight-bold'
        },
        'linearicons-file-image text-red',{
          dataTo: '500',
          dataSpeed: '2400',
          preffix: '+'
        })
