section.section.novi-background.section-66.section-lg-98.section-xl-124.bg-lighter
  .container
    div: h2: span.big Novi Visual Page Builder
    .offset-lg-top-30.offset-xxl-top-66.text-lg-left
      .row.justify-content-lg-center.justify-content-xxl-between.grid-group-md

        .col-lg-6.col-xl-5
          .unit.flex-lg-row.align-items-lg-center
            .unit-left.d-none.d-lg-block
              img( src='images/landing/landing-96-420x316.png' alt )
            .unit-body
              h3.text-regular Create Your Stunning HTML Website Quickly and Easily
          p.offset-top-20 Novi Builder is a perfect match for both non-techies planning to launch their own websites, as well as coding experts delivering web products for their clients.
          .offset-top-41
            a.btn.btn-primary.btn-md.btn-anis-effect( href=cfg.builderLink, target='_blank' )
              span.btn-text Try Builder

        .col-lg-6
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item( src='https://www.youtube.com/embed/e_TCFkRDmls', allowfullscreen )
