// Cross-Browser Support
section.section.novi-background.section-98.section-sm-66.section-md-bottom-0
  .container
    .row.justify-content-sm-center.align-items-sm-center
      .col-sm-10.col-md-8.col-lg-6
        h1 Cross-Browser Support
        hr.divider.bg-mantis
        p.offset-top-50 TThe script works equally well in all the popular browsers used today. Whether users browse your site via Chrome or Mozilla, the calendar will run and look flawless.
        ul.list-inline.offset-top-50
          li.list-inline-item
            img.img-fluid(src="images/logos/logo-firefox.png" width="59" height="60" alt="")
          li.list-inline-item
            img.img-fluid(src="images/logos/logo-chrome.png" width="59" height="60" alt="")
          li.list-inline-item
            img.img-fluid(src="images/logos/logo-safari.png" width="59" height="60" alt="")
          li.list-inline-item
            img.img-fluid(src="images/logos/logo-ie.png" width="59" height="60" alt="")
      .col-sm-10.col-md-8.col-lg-6.d-none.d-lg-block
        img.img-fluid(src="images/features/rd-video-01-440x454.png", width="440", height="454", alt="")
