//- Includes
include  ../elements/_ui-box-icon-type-2

// Mailform Features
section.section.novi-background.section-98.section-sm-124
  .container
    .row.justify-content-sm-center.align-items-sm-center.justify-content-xxl-between
      .col-md-9.col-xl-6.col-xxl-7
        img.img-fluid.d-none.d-md-inline-block.shadow-drop-lg(src="images/features/rd-mailform-01-670x467.png" width="670" height="467" alt="")
      .col-md-9.col-xl-6.col-xxl-4.offset-md-top-66.offset-xl-top-0
        .inset-xl-left-50.inset-xxl-left-0
          +box-icon-type-2("icon-lg icon-circle mdi mdi-emoticon material-icons-tag_faces text-picton-blue offset-md-top-14", "User-Friendly Customization", "text-uppercase offset-md-top-24", "The script comes with ready-made presets, which will let you customize the form with comfort. The script also provides full customization of an email template.")
          .offset-top-50
            +box-icon-type-2("icon-lg icon-circle mdi mdi-web text-picton-blue offset-md-top-14", "CSS Stylization", "text-uppercase offset-md-top-24", "Stylize practically all the form pattern attributes with ease. The script features a fully fledged CSS API built specifically for this purpose.")
