// Third-Party Scripts Support
section.section.novi-background.section-98.bg-blue-gray.context-dark
  .container
    .row.justify-content-sm-center.align-items-sm-center
      .col-lg-6.col-xl-5.text-lg-left
        h1 Various Menu Types
        hr.divider.hr-md-left-0.bg-default
        p.offset-top-50 With RD Navbar you can create all kind of navigation elements: dropdown, megamenu, tabmenu and a lot more.
        a.btn.btn-lg.btn-default.btn-icon.btn-icon-left.btn-anis-effect.offset-top-10(href= cfg.buyLink target='_blank')
          span.novi-icon.icon.mdi.mdi-cart-outline
          | Buy intense now
      .col-lg-6.col-xl-7
        img.img-fluid.d-none.d-lg-block(src="images/features/rd-navbar-02-676x359.png" width="676" height="359" alt="")
