//- Includes
include ../elements/_ui-material-parallax

+material-parallax({
  img: 'images/landing/landing-104-1920x1348.jpg',
  Class: 'section-66 section-xl-110'
}).context-dark
  .container
    h1 Limitless Header and Footer Variations

    .offset-top-20
      p Choose from a wide variety of our awesome ready-made Header & Footer styles or just create your own.

    .row.justify-content-sm-center.grid-group-sm.offset-top-34.offset-lg-top-66
      .col-sm-6.col-md-5.col-lg-4.col-xl-2.wow.fadeInRight
        img.img-fluid.d-block.mx-auto( src='images/features/home-intro-04-150x100.png', width='150', height='100', alt )
        p Transparent

      .col-sm-6.col-md-5.col-lg-4.col-xl-2.wow.fadeInRight( data-wow-delay='0.1s' )
        img.img-fluid.d-block.mx-auto( src='images/features/home-intro-05-150x100.png', width='150', height='100', alt )
        p Background Header

      .col-sm-6.col-md-5.col-lg-4.col-xl-2.wow.fadeInRight( data-wow-delay='0.2s' )
        img.img-fluid.d-block.mx-auto( src='images/features/home-intro-06-150x100.png', width='150', height='100', alt )
        p Center Aligned

      .col-sm-6.col-md-5.col-lg-4.col-xl-2.wow.fadeInRight( data-wow-delay='0.3s' )
        img.img-fluid.d-block.mx-auto( src='images/features/home-intro-07-150x100.png', width='150', height='100', alt )
        p Floating

      .col-sm-6.col-md-5.col-lg-4.col-xl-2.wow.fadeInRight( data-wow-delay='0.4s' )
        img.img-fluid.d-block.mx-auto( src='images/features/home-intro-08-150x100.png', width='150', height='100', alt )
        p Left Side-Header

      .col-sm-6.col-md-5.col-lg-4.col-xl-2.wow.fadeInRight( data-wow-delay='0.5s' )
        img.img-fluid.d-block.mx-auto( src='images/features/home-intro-09-150x100.png', width='150', height='100', alt )
        p Fullscreen Overlay
