include ../elements/_ui-blurb-mini

// Core features
section.section.novi-background.section-66.section-xl-124
  .container-fluid
    img( src='images/landing/landing-105-154x25.png' alt )
    .offset-top-10: h2: span.big Our Customer Reviews
    div.offset-top-24.d-none.d-lg-block
      hr.divider.bg-mantis

    .offset-top-20.offset-lg-top-34.offset-xxl-top-66
      .row.justify-content-sm-center.grid-group-sm( data-lightgallery='group' )
        .col-sm-12.wow.fadeIn
          a.review-wrap.shadow-drop( data-lightgallery='item', href='images/landing/landing-98-1362x208.jpg', data-size='1362x208' )
            img( src='images/landing/landing-98-1362x208.jpg' alt )
        .col-sm-12.wow.fadeIn
          a.review-wrap.shadow-drop( data-lightgallery='item', href='images/landing/landing-99-1362x187.jpg', data-size='1362x187' )
            img( src='images/landing/landing-99-1362x187.jpg' alt )
        .col-sm-12.wow.fadeIn
          a.review-wrap.shadow-drop( data-lightgallery='item', href='images/landing/landing-100-1362x208.jpg', data-size='1362x208' )
            img( src='images/landing/landing-100-1362x208.jpg' alt )
        .col-sm-12.wow.fadeIn
          a.review-wrap.shadow-drop( data-lightgallery='item', href='images/landing/landing-101-1362x187.jpg', data-size='1362x187' )
            img( src='images/landing/landing-101-1362x187.jpg' alt )
        .col-sm-12.wow.fadeIn
          a.review-wrap.shadow-drop( data-lightgallery='item', href='images/landing/landing-102-1362x208.jpg', data-size='1362x208' )
            img( src='images/landing/landing-102-1362x208.jpg' alt )
        .col-sm-12.wow.fadeIn
          a.review-wrap.shadow-drop( data-lightgallery='item', href='images/landing/landing-103-1362x183.jpg', data-size='1362x183' )
            img( src='images/landing/landing-103-1362x183.jpg' alt )
