include ../elements/_ui-thumbnail-simple

// Features
section.section.novi-background.section-66.section-xl-124.bg-lighter
  .container.container-wide
    .d-none.d-lg-block
      h2: span.big Features
    .offset-top-20.d-none.d-lg-block
      hr.divider.bg-mantis
    .offset-lg-top-20.offset-xxl-top-66
      h3.text-regular Other Features
        span.text-uppercase.text-ubold.text-mantis= " Intense"

    .offset-top-20.offset-xxl-top-50
      .owl-carousel.owl-carousel-default.owl-carousel-present.owl-carousel-arrows.veil-owl-nav.veil-xxl-owl-dots.reveal-xxl-owl-nav( data-items='1' data-md-items='2' data-lg-items='3' data-xl-items='4' data-nav='true' data-dots='true' data-autoplay='true' data-loop='true' data-sm-margin='30' data-nav-class='["owl-prev mdi mdi-chevron-left", "owl-next mdi mdi-chevron-right"]' )
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-70-420x316.jpg',
            caption: 'Revolution Slider - Crossfade',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.crossfade.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-74-420x316.jpg',
            caption: 'Revolution Slider - Overlay 1',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.slidingoverlayhorizontal.href,
            blank:   true,
            width:   420,
            height:  316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-71-420x316.jpg',
            caption: 'Revolution Slider - Fade Through',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.fadethrough.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-75-420x316.jpg',
            caption: 'Revolution Slider - Overlay 2',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.slidingoverlayvertical.href,
            blank:   true,
            width:   420,
            height:  316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-72-420x316.jpg',
            caption: 'Revolution Slider - Slide 1',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.slidehorizontal.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-76-420x316.jpg',
            caption: 'Revolution Slider - Box Slide',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.boxslide.href,
            blank:   true,
            width:   420,
            height:  316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-73-420x316.jpg',
            caption: 'Revolution Slider - Slide 2',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.slidevertical.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-77-420x316.jpg',
            caption: 'Revolution Slider - Slot Slide',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.slotslide.href,
            blank:   true,
            width:   420,
            height:  316
          })


        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-78-420x316.jpg',
            caption: 'Revolution Slider - Box Fade',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.boxfade.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-82-420x316.jpg',
            caption: 'Revolution Slider - Slot Zoom 1',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu['slotzoom-horizontal'].href,
            blank:   true,
            width:   420,
            height:  316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-79-420x316.jpg',
            caption: 'Revolution Slider - Slot Fade',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.slotfade.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-83-420x316.jpg',
            caption: 'Revolution Slider - Slot Zoom 2',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu['slotzoom-vertical'].href,
            blank:   true,
            width:   420,
            height:  316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-80-420x316.jpg',
            caption: 'Revolution Slider - Parallax 1',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.parallaxhorizontal.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-84-420x316.jpg',
            caption: 'Revolution Slider - In Cube',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.incube.href,
            blank:   true,
            width:   420,
            height:  316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-81-420x316.jpg',
            caption: 'Revolution Slider - Parallax 1',
            href:    cfg.nav.features.submenu.revolutionSlider.submenu.parallaxvertical.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src:     'images/landing/landing-85-420x316.jpg',
            caption: cfg.nav.features.submenu.rdPlugins.submenu.rdEventCalendar.title,
            href:    cfg.nav.features.submenu.rdPlugins.submenu.rdEventCalendar.href,
            blank:   true,
            width:   420,
            height:  316
          })


        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-86-420x316.jpg',
            caption: cfg.nav.features.submenu.rdPlugins.submenu.rdParallax.title,
            href:    cfg.nav.features.submenu.rdPlugins.submenu.rdParallax.href,
            blank:   true,
            width:   420,
            height:  316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-87-420x316.jpg',
            caption: cfg.nav.features.submenu.rdPlugins.submenu.rdBackgroundVideo.title,
            href:    cfg.nav.features.submenu.rdPlugins.submenu.rdBackgroundVideo.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src: 'images/landing/landing-88-420x316.jpg',
            caption: cfg.nav.features.submenu.rdPlugins.submenu.rdNavbar.title,
            href: cfg.nav.features.submenu.rdPlugins.submenu.rdNavbar.href,
            blank: true,
            width: 420,
            height: 316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-92-420x316.jpg',
            caption: cfg.nav.features.submenu.formPlugins.title,
            href:    cfg.nav.features.submenu.formPlugins.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src: 'images/landing/landing-89-420x316.jpg',
            caption: cfg.nav.features.submenu.socialWidgets.submenu.rdTwitterfeed.title,
            href: cfg.nav.features.submenu.socialWidgets.submenu.rdTwitterfeed.href,
            blank: true,
            width: 420,
            height: 316
          })
        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-93-420x316.jpg',
            caption: cfg.nav.features.submenu.reCaptcha.title,
            href:    cfg.nav.features.submenu.reCaptcha.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src: 'images/landing/landing-94-420x316.jpg',
            caption: cfg.nav.features.submenu.chartsAndGraphs.title,
            href: cfg.nav.features.submenu.chartsAndGraphs.href,
            blank: true,
            width: 420,
            height: 316
          })


        div.offset-top-10.grid-group-md
          +thumbnail-simple({
            src:     'images/landing/landing-95-420x316.jpg',
            caption: cfg.nav.features.submenu.uiKit.title,
            href:    cfg.nav.features.submenu.uiKit.href,
            blank:   true,
            width:   420,
            height:  316
          })
          +thumbnail-simple({
            src: 'images/landing/landing-86-420x316.jpg',
            caption: cfg.nav.features.submenu.rdPlugins.submenu.rdParallax.title,
            href: cfg.nav.features.submenu.rdPlugins.submenu.rdParallax.href,
            blank: true,
            width: 420,
            height: 316
          })
