include ../elements/_ui-material-parallax

+material-parallax({
  img: 'images/backgrounds/background-15-1920x1172.jpg',
  Class: 'section-66 section-md-110 context-dark'
})
  .container
    .row.justify-content-sm-center.justify-content-sm-center
      .col-md-8.col-lg-7.col-xl-6
        h2.text-uppercase.font-weight-bold MailChimp
        hr.divider.bg-mantis
        p Sign up to our newsletter and be the first to know about latest news, special offers, events, and discounts.

        // MailChimp subscribe
        form.rd-mailform.mailchimp-mailform( data-form-output="form-output-global", data-form-type='subscribe', method='post', action='https://templatemonster.us15.list-manage.com/subscribe/post?u=ba5bb362073a413f48e4a7b90&id=8dc95d9dec' )
          .form-group
            .input-group.input-group-sm
              span.input-group-prepend
                span.input-group-text.input-group-icon.input-group-addon-inverse
                  span.novi-icon.mdi.mdi-email
              input.form-control( placeholder="E-Mail", type="email", name="email" data-constraints="@Email @Required" )
              span.input-group-append
                button.btn.btn-sm.btn-primary( type="submit" ) Subscribe
