// eCommerce Ready
section.section.novi-background.section-top-66.section-bottom-85.section-lg-top-34.section-lg-bottom-34
  .container
    .row.justify-content-sm-center.grid-group-md
      .col-md-8.col-xl-5.text-xl-left
        .section-lg-top-66
          .inset-xl-right-50
            h1 eCommerce Ready
            p We have included all you may need to build an Amazing eCommerce Website from a scratch. Create your successful business now!
            ul.list.list-marked
              li Grid View
              li Shopping Cart Page
              li Checkout Page
              li Single Product Page
      .col-md-8.col-xl-7
        img.img-fluid.d-none.d-xl-inline-block.wow.fadeInRight(src="images/features/home-intro-12-730x550.png" width="730" height="550" alt="" data-wow-delay="0.6s" style="position: relative; margin-top: -80px;")
        img.img-fluid.d-none.d-md-inline-block.d-xl-none.wow.fadeIn(src="images/features/home-intro-12-730x550.png" width="730" height="550" alt="" data-wow-delay="0.6s")
