// Includes
include ../elements/_ui-material-parallax

// Section Advanced ui kit
+material-parallax({ img: "images/features/ui-kit-01-1920x1078.jpg" })
  .bg-overlay-gray-darkest.context-dark
    .container
      .row.align-items-sm-center.justify-content-sm-center.section-cover.section-110
        .col-sm-12
          h1.text-uppercase
            span.big advanced UI KIT
          .row.justify-content-sm-center.offset-top-41
            .col-sm-10
              h4.text-light The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our powerful bootstrap toolkit.
              .offset-top-41
                a(href="#" data-waypoint-to="#make-easier-interface").btn.btn-lg.btn-default.btn-primary.btn-anis-effect discover elements
