//- Includes
include ../elements/_ui-material-parallax

+material-parallax({
  img: "images/backgrounds/background-33-1920x474.jpg",
  Class: 'section-98 section-sm-110 context-dark bg-overlay-gray-darkest'
})
  .container
    h1 Limitless Header and Footer Variations
    .row.justify-content-sm-center.offset-top-20
      .col-md-10.col-xl-12
        p Choose from a wide variety of our awesome ready-made Header & Footer styles or just create your own.
    .row.justify-content-sm-center.offset-top-66
      .col-md-10.col-xl-12
        .row.justify-content-sm-center
          .col-sm-6.col-md-5.col-lg-4.col-xl-2
            img.img-fluid.d-block.mx-auto(src="images/features/home-intro-04-150x100.png" width="150" height="100" alt="")
            p Transparent
          .col-sm-6.col-md-5.col-lg-4.col-xl-2.offset-top-66.offset-sm-top-0
            img.img-fluid.d-block.mx-auto(src="images/features/home-intro-05-150x100.png" width="150" height="100" alt="")
            p Background Header
          .col-sm-6.col-md-5.col-lg-4.col-xl-2.offset-top-66.offset-lg-top-0
            img.img-fluid.d-block.mx-auto(src="images/features/home-intro-06-150x100.png" width="150" height="100" alt="")
            p Center Aligned

          .col-sm-6.col-md-5.col-lg-4.col-xl-2.offset-top-66.offset-xl-top-0
            img.img-fluid.d-block.mx-auto(src="images/features/home-intro-07-150x100.png" width="150" height="100" alt="")
            p Floating
          .col-sm-6.col-md-5.col-lg-4.col-xl-2.offset-top-66.offset-xl-top-0
            img.img-fluid.d-block.mx-auto(src="images/features/home-intro-08-150x100.png" width="150" height="100" alt="")
            p Left Side-Header
          .col-sm-6.col-md-5.col-lg-4.col-xl-2.offset-top-66.offset-xl-top-0
            img.img-fluid.d-block.mx-auto(src="images/features/home-intro-09-150x100.png" width="150" height="100" alt="")
            p Fullscreen Overlay
