// PSD Included
section.section.novi-background.section-66.section-xl-110.bg-default( style='position: relative; z-index: 1; box-shadow: 0px -5px 23px 0 rgba(0, 0, 0, 0.15);' )
  .container-fluid
    h1 More Than 500+ Templates to minimize your Development Time
    p Create Your Own Amazing Experience
