// Extremely Responsive and Retina
section.section.novi-background.section-66.bg-lighter
  .container-fluid
    .row.justify-content-sm-center.grid-group-md
      .col-md-10.col-lg-6.col-xxl-7.d-md-block
        img.img-fluid.wow.fadeInLeft.d-md-inline-block( src="images/landing/landing-97-780x462.png", width="780", height="462", alt, data-wow-delay="0.3s" )
      .col-md-8.col-lg-6.col-xxl-4.text-lg-left.offset-lg-top-41
        h1 Extremely Responsive #[br.d-none.d-xl-block]and Retina
        p Create Your Own Business, Blog or any kind of activity Quick #[br.d-none.d-xl-block]and Easy with our unbelievable already made niche templates.
