//- Includes
include ../elements/_ui-rd-parallax

// Complete integration with Twitter
.bg-black.context-dark.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/backgrounds/background-09-1920x1045.jpg")
  .rd-parallax-layer.bg-overlay-gray-darkest(data-speed="0.3", data-type='html' data-md-fade="true")
    .container-fluid
      .row
        .row.justify-content-sm-center.align-items-sm-center.section-cover.section-110
          .col-sm-11
            h1.text-uppercase
              span.big instagram social widget
            h4.text-light.inset-xl-left-100.inset-xl-right-100.d-none.d-md-block RD Instagram script allows seamless integration of Instagram social widget into the theme. This provides the needed Instagram functionality right inside the website.

            .row.justify-content-sm-center.offset-top-41
              .col-sm-7.col-md-4.col-lg-4.col-xl-3.col-xxl-2.text-md-right.inset-md-left-50
                a.btn.btn-block.btn-primary(href=cfg.buyLink target='_blank') buy intense now
              .col-sm-7.col-md-4.col-lg-4.col-xl-3.col-xxl-2.text-md-left.inset-md-right-50.offset-top-20.offset-md-top-0
                a.btn.btn-block.btn-default(href='#' data-waypoint-to="#instagram-widget") view widget
