// Released under GPL license?
section.section.novi-background.section-98.section-sm-110.bg-acapulco.context-dark
  .container
    .row.justify-content-sm-center
      .col-xl-5
        img.img-fluid(src="images/logos/logo-gpl.png" width="369" height="182" alt="")
      .col-xl-6.offset-top-66.offset-xl-top-0.text-xl-left
        h3 100% GPL
        p RD Navbar is released under GPL license. In such a way, you can install the script on all your sites as many times as you want.
        .row.justify-content-sm-center.justify-content-xl-start.text-center.text-xl-left.offset-top-24
          .col-sm-6.col-md-5.col-lg-4.col-xl-6.inset-xl-right-50
            a(href=cfg.buyLink target='_blank').btn.btn-block.btn-default.btn-anis-effect buy intense now
